*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
.container
{
    width: 80%;
    display: flex;
    margin: auto;
    min-height: 200px;
    flex-direction: column;
    border: 1px solid black;

}
.logo
{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
}
.logo img{
    width: 100px;
   
    display: flex;
    flex-direction: row;
}
.logo2
{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    margin-bottom: 5PX;
}
.logo2 img {
    width: 100px;
    height: 50px;
    margin-top: auto;
    
}
.brand-logo{
    display: flex;
    align-items: center;
}

/* h1{
     display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(245, 82, 110);
    font-weight: bold;
}
h3{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(20, 225, 157);
} */
.menu
{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    background-color: chartreuse;
    box-shadow: 2px 2px 5px rgb(97, 94, 94);
}
.menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10px;
    color: rgb(225, 20, 20);
    transition: 2s;
   

}
.menu ul li{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    /* padding-left: 5px; */
   
   
   
    
}
.menu ul li a{
    text-decoration: none;
    margin: 10px;
    display: flex;
    font-weight: bold;
    text-align: center;
}
.menu ul :hover
{
    background-color: pink;
    transform: scale(-10deg);
}
.button
{
    display: flex;
    margin: auto;
    font-size: 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: gold;
}
.button span
{
    margin: 4px;
}


.heading
{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.heading h1{
    
    text-shadow: 1px 2px 5px black;
    font-size: 30px;
    font-weight: bold;

}

.listofcources
{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    
    margin-top: 30px;
}
.list ul
{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    list-style-type: none;
    text-align: center;
    
}

.list ul a li{
    
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 2px 2px 5px 2px black;
    border-radius: 10px;
    
    background-color: rgb(243, 246, 249);
}
.list ul a
{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
.list ul li:hover{
    transform: rotate(2deg);

}
.list ul li
{
    transition: 2s;
}
.footer
{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: rgb(104, 71, 71);
    justify-content: space-between;
    min-height: 100px;
    margin-top: 30px;
}
.fdiv1
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    /* border: 1px solid black; */
}
.fdiv1 p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}
.fdiv1 ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-left: 32%;
    margin-top: 10px;
    
    

}
.fdiv1 ul li a{
    text-decoration: none;
    color: white;
    
 
}

.fdiv2
{
    display: flex;
    flex-direction:column;
    width: 30%;
    height: auto;
    /* border: 1px solid black; */
}
.fdiv2 p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}
.fdiv2 ul{
    list-style-type: none;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    margin-left: 32%;
    
}
.fdiv2 ul li a{
    text-decoration: none;
    color: white;
    
 
}

.fdiv3
{
    display: flex;
    flex-direction:column;
    width: 30%;
    height: auto;
    margin-top: 20px;
    /* border: 1px solid black; */
}
.fdiv3 p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.fdiv3 ul{
    list-style-type: none;
    font-size: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 28%;
    
}
.fdiv3 ul li a{
    text-decoration: none;
    color: white;
    
 
}